div#header
	if is_artist === false
		a(href="/account/") Account Home Page
		|
		|
		|
		a(href="/artwork/list") Search For Artworks
		|
		|
		|
		a(href="/account/logout") Logout
	else 
		a(href="/account/") Account Home Page
		|
		|
		|
		a(href="/artwork/list") Search For Artworks
		|
		|
		|
		a(href="/account/logout") Logout
		|
		|
		|
		a(href="/artwork/new") Add Artwork
		|
		|
		|
		a(href="/artist/workshop/new") Add Workshop